
body {
  padding-top: 24px;
  padding-bottom: 40px;
  }

.ribbon-banner {
   display: block;
   position: absolute;
   top: 50px;
   left: -120px;
   width: 400px;
   height: 50px;
   line-height: 50px;
   text-align: center;
   opacity: 0.7;
   -webkit-transform: rotate(-45deg);
   -moz-transform:    rotate(-45deg);
   -ms-transform:     rotate(-45deg);
   transform:         rotate(-45deg);
   font-size: 18px;
   font-weight: 700;
   color: white;
   background-color: red;
   border: 1px solid white;
   z-index: 500;
   }

.pull-right .dropdown-menu:after {
    left: auto;
    right: 13px;
}
.pull-right .dropdown-menu {
    left: auto;
    right: 0;
}

.notification-icon .glyphicon {
   font-size:200%;
   top: 8px;
}

.pt-faved {
  color: #ff9900;
}

.pt-unfaved {
   color:#999999;
}

.notification-icon .pt-stars {
   color:white;
   font-size:90%;
   font-weight:bold;
   align:center;
   position:relative;
   top: -2px;
   left: -22px;
}

.pt-picked {
  color: green;
}

.pt-count {
  /* pass */
}

.pt-counted {
  margin-top:6px;
  font-size:120%;
  background: green;
}

.pt-uncounted {
  margin-top:6px;
  font-size:120%;
  background: #999999;
}

.pt-subtitle {
  font-style: italic;
  color: #cccccc;
}

.pt-rep {
  float:right;
  font-family: 'Nunito', sans-serif;
  font-size: 120%;
  color: #000000;
}

@media (min-width: 768px) {
.pt-avatar {
  border: 1px solid #f2f2f2;
  }
.pt-nav {
  margin-right:0px;
  float:none;
  }
}

.pt-nav {
  margin-right:16px;
  float:right;
  }

.pt-arrow {
  width:60px;
  margin-top:-20px;
  margin-right:20px;
}

.pt-title {
  padding-left: 48px;
  background:transparent url('/static/img/mouse_pointer.png') left center no-repeat;
  background-size: 32px;
  background-position: 12px;
}
.pt-title:hover {
  background:transparent url('/static/img/mouse_pointer.png') left center no-repeat;
  background-size: 32px;
  background-position: 12px;
}

.pt-footer {
  color:lightgray;
  }

.pt-footer a:link,
.pt-footer a:visited {
  color:#b2b2b2;
  }

.pt-footer a:hover,
.pt-footer a:focus {
  color: #729fcf;
  }

.pt {
  font-family: 'Nunito', sans-serif;
  }

.thumbnail{
    height: 0px; /* no idea why this works, but it does */
    padding-bottom:100%;
    overflow: hidden;
}

.thumbnail img{
    /* your styles for the images */
}

.yellow {
    color: yellow;
}

.grey {
    color: grey;
}

.blue {
    color: blue;
}
.green {
    color: green;
}

.red {
    color: red;
}


.glyphicon:disabled,
.glyphicon.disabled {
  color:lightgrey;
}


/*
.btn-me {
  color:white;
  background-color:#55bb55;
}

.btn-me:active,
.btn-me.active,
.btn-me:hover,
.btn-me.hover {
  color:white;
  background-color:#22cc33;
}


.btn-owner {
  color:white;
  background-color:#6699ee;
}

.btn-owner:active,
.btn-owner.active,
.btn-owner:hover,
.btn-owner.hover {
  color:white;
  background-color:#0033cc;
}

.btn-everyone {
  color:white;
  background-color:#dd5555;
}

.btn-everyone:active,
.btn-everyone.active,
.btn-everyone:hover,
.btn-everyone.hover {
  color:white;
  background-color:#dd0000;
}
*/

a.disabled {
   color:gray;
   pointer-events: none;
   cursor: default;
}

