
body {
  padding-top: 24px;
  padding-bottom: 40px;
  }

.ribbon-banner {
   display: block;
   position: absolute;
   top: 50px;
   left: -120px;
   width: 400px;
   height: 50px;
   line-height: 50px;
   text-align: center;
   opacity: 0.7;
   -webkit-transform: rotate(-45deg);
   -moz-transform:    rotate(-45deg);
   -ms-transform:     rotate(-45deg);
   transform:         rotate(-45deg);
   font-size: 18px;
   font-weight: 700;
   color: white;
   background-color: red;
   border: 1px solid white;
   z-index: 500;
   }

.navbar-text {
  font-style: italic;
  color: #cccccc;
}

/* This stuff disables the hamburger menu on navbar *
.navbar-collapse.collapse {
display: block!important;
}

.navbar-nav>li, .navbar-nav {
float: left !important;
}
*/
.navbar-nav.navbar-right:last-child {
margin-right: -15px !important;
}

.navbar-right {
float: right!important;
}
/* END OF HAMBURGER KILLER */


.pt-title {
  padding-left: 48px;
  background:transparent url('/static/img/mouse_pointer.png') left center no-repeat;
  background-size: 32px;
  background-position: 12px;
}
.pt-title:hover {
  background:transparent url('/static/img/mouse_pointer.png') left center no-repeat;
  background-size: 32px;
  background-position: 12px;
}


.pt-footer {
  color:lightgray;
  }

.pt-footer a:link,
.pt-footer a:visited {
  color:#b2b2b2;
  }

.pt-footer a:hover,
.pt-footer a:focus {
  color: #729fcf;
  }

.pt {
  font-family: 'Nunito', sans-serif;
  }
