{% extends "base.html" %}

{% block title %} &middot; about{% endblock %}

  {% block content %}
      
  <div class="container">

	<h2>About</h2>

    <p><span class='pt'>pick this</span> was built by Ben Bougher, Jacob Foshee, Evan Bianco, and a combination of Matt Hall and Chris Chalcraft at the <a href="http://subsurfwiki.org/wiki/Geophysics_Hackathon_2014">2014 Geophysics Hackathon</a> in Denver, Colorado.</p>

    <p>If you would like to donate time or money to the project, please <a href="mailto:hello@agilegeoscience.com?subject=pick%20this">get in touch</a>.</p> 

    <p>&nbsp;</p>

    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Technology</h3>
      </div>
      <div class="panel-body">
        <span class='pt'>pick this</span> is open source. You can find it <a href="https://github.com/ben-bougher/pickr">on GitHub</a>. The software is written in Python and JavaScript, and uses the Jinja2 templating engine and Twitter's Bootstrap CSS/JS framework. This web service is running on <a href="https://cloud.google.com/appengine/">Google Cloud Platform</a>.
      </div>
    </div>

  </div>

  {% endblock %}
