{% extends "base.html" %}

{% block title %} &middot; about{% endblock %}

  {% block content %}
      
  <div class="container">

	<h2>About <span class='pt'>pick this</span></h2>

    <p><span class='pt'>pick this</span> was built by <a href="https://www.slim.eos.ubc.ca/ben">Ben Bougher</a>, <a href="http://twitter.com/82unpluggd">Jacob Foshee</a>, <a href="http://twitter.com/EvanBianco">Evan Bianco</a>, and a combination of <a href="http://twitter.com/cchalc">Chris Chalcraft</a> and <a href="http://twitter.com/kwinkunks">Matt Hall</a> at the <a href="http://subsurfwiki.org/wiki/Geophysics_Hackathon_2014">2014 Geophysics Hackathon</a> in Denver, Colorado. The demo version we built at that event had a hard-coded image and no voting, but the basic concept was all there. Jacob is the Javascript mastermind. </p>

    <p>&nbsp;</p>

  <h3>Support this project!</h3>

    <p>We want <span class='pt'>pick this</span> to be free to use. But we have a long list of enhancements to add and a short list of bugs to fix. If you would like to donate time or money to the project, please <a href="mailto:hello@agilegeoscience.com?subject=pick%20this">get in touch</a>. The top 3 supporters will earn a place on the site, on everything connected with the project, and (best of all) in our hearts. </p> 

    <p>&nbsp;</p>

  <h3 name="help">The geeky details</h3>

    <p><span class='pt'>pick this</span> is open source software. You can find it <a href="https://github.com/ben-bougher/pickr">on GitHub</a>. The software is written in Python and JavaScript, and uses the <a href="http://jinja.pocoo.org/docs/dev/">Jinja2</a> templating engine and the <a href="http://getbootstrap.com/">Bootstrap</a> HTML/CSS/JS framework. The drawing is handled by <a href="http://raphaeljs.com/">Raphaël</a>. The web app you are using is running on <a href="https://cloud.google.com/appengine/">Google Cloud Platform</a>.</p>

<!-- not needed for now...
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Technology</h3>
      </div>
      <div class="panel-body">
        So you want the geeky details? <span class='pt'>pick this</span> is open source. You can find it <a href="https://github.com/ben-bougher/pickr">on GitHub</a>. The software is written in Python and JavaScript, and uses the Jinja2 templating engine and Twitter's Bootstrap CSS/JS framework. The drawing is handled by <a href="http://raphaeljs.com/">Raphaël</a>. The web app you are using is running on <a href="https://cloud.google.com/appengine/">Google Cloud Platform</a>.
      </div>
    </div>
-->

  </div>

  {% endblock %}
