{% extends "base.html" %}

{% block title %} &middot; choose{% endblock %}

{% block content %}

<!-- Page Content -->
<div class="container">

  <div class="row" style="margin-top:18px; margin-bottom:30px;">
    <div class="col-md-8 col-sm-6 col-xs-6">
    <p class="lead">Choose an image to interpret, or upload one of your own.</p>
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6">
      <div class="pull-right">
        <form action="{{upload_url}}" method="POST" enctype="multipart/form-data">
          <div style='height: 0px;width:0px; overflow:hidden;'>
            <input type="submit" name="submit" 
             value="Submit"
             id="submit" >
            <input id="file" type="file" name="file" 
             onchange="$('#submit').click()"/>
          </div>
          <div class="btn btn-info btn-lg btn-block" 
               id="upload_btn" 
               onclick="$('#file').click()">
            Upload a new image
          </div> 
        </form>
      </div>
    </div>
  </div><!-- end of row -->

  {% for i in images %}
  <div>
    <div class="col-lg-3 col-md-4 col-xs-6 thumb">
      <a class="thumbnail" href="/pickr?image_key={{i['key']}}">
        <img class="img-responsive" src="{{i['image']}}" alt="" />
      </a>
      <div class="caption">
        {{i.description}}
	{{i.challenge}}
	{{i.permission}}
	{{i.title}}
      </div>
    </div>
  </div>
  {% endfor %}



</div><!-- end of container -->

{% endblock %}
