{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}
      
<div class="ribbon-banner">in beta</div>

<div class="container">

  <div class="col-md-12">
    <p style="margin-top:20px" class="lead pull-right hidden-xs">Sign in with your Google account...
      <img class="pt-arrow" src="/static/img/arrow.png" width="60px" style="margin-top:-20px; margin-right:20px" />
    </p>
    <p style="margin-top:20px" class="lead pull-right visible-xs">Sign in above with your Google account.</p>
  </div>

  <div class="container">
    <img class="img-responsive" src="/static/img/quick_whatis.png" />
  </div>

</div>

{% endblock %}
