{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}

<head>
<script>
  var image_url = "{{ img_obj.url(size=1200) }}";
  var image_key = "{{ img_obj.id }}";
  var baseImageWidth = "{{ img_obj.width }}";
  var baseImageHeight = "{{ img_obj.height }}";
  var pickstyle = "{{ img_obj.pickstyle }}";
</script>
<script src="/static/js/lib/raphael-min.js"></script>
<script src="/static/js/lib/underscore-min.js"></script>
<script src="/static/js/objects.js"></script>
<script src="/static/js/services.js"></script>
<script src="/static/js/pick-drawing.js"></script>
<script src="/static/js/pickpoint.js"></script>
</head>

<div class="container"><!-- start of main container -->

  <div class="row" style="margin-top:16px; margin-bottom:24px;">
    <div class="col-md-8 col-sm-6 col-xs-6">
    <p class="lead">{% if img_obj.challenge %}{{ img_obj.challenge.strip(' .!') }}. {% endif %}Pick <strong>{{ img_obj.pickstyle }}</strong>. Click <strong>Submit</strong> when you're done.
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6">
      <div class="btn-toolbar pull-right">
        <button type="button" 
          class="btn btn-default"
          data-toggle="modal" data-target="#help-modal">
            Help
        </button>
        <button id="undo-button" type="button" 
          class="btn btn-primary">
            Undo
        </button>
        <button id="clear-button" type="button" 
		      class="btn btn-primary">
            Remove all
        </button>
      </div>
    </div>
  </div><!-- end of row -->

  <div id="image-div">
    <!-- image goes here -->
  </div>

  <!-- div for big green button at bottom -->
  <div class="col-md-offset-2 col-md-8" style="margin-bottom:24px; margin-top:24px;">
<!--     <button type="button" class="btn btn-success btn-lg btn-block" 
	    onclick="document.location.href='/results?image_key={{img_obj.id}}'"> -->
      <button id="submit-button" type="button" class="btn btn-success btn-lg btn-block">
      I'm all done... Submit!
    </button>
  </div>

    <!-- Metadata -->
    <div class="well" style="clear:both;">
      <p><span style="font-size:150%; font-weight:bold;">{{ img_obj.title }}</span>&nbsp;&nbsp; 
        <span class="pull-right" style="font-size:80%; font-weight:normal;">
          {{ img_obj.width }} &times; {{ img_obj.height }} &nbsp;•&nbsp; Uploaded by {{ img_obj.nickname }}
        </span>
        <!--<span class="notification-icon">
          {% if user_id not in img_obj.favouriters %}&nbsp;<span class="glyphicon glyphicon-certificate pt-unfaved" 
               title="you have not starred this image"></span>
            {% else %}&nbsp;<span class="glyphicon glyphicon-star pt-faved" title="you starred this image"></span>
          {% endif %}
          <span class="pt-stars">{{ img_obj.favouriters | length }}</span>
        </span>-->
        <span class="badge {% if user_id in img_obj.interpreters %}pt-counted{% else %}pt-uncounted{% endif %}"
              title="{{ img_obj.interpreters | length }}{% if img_obj.interpreters | length  == 1 %} person has{% else %} people have{% endif %} interpreted this image">
          {{ img_obj.interpreters | length }}
        </span>
      </p>
      <p style="font-style:italic;">{{ img_obj.challenge }}</p>
      <p>{{ img_obj.description }}</p>
      <p><strong>Reference</strong> &nbsp;&nbsp; Pickthis.io user {{ img_obj.nickname }}. {{ img_obj.title }}, image no. <a href="http://pickthis.io/{{ img_obj.id }}">{{ img_obj.id }}</a>. Permission: {{ img_obj.rightsholder.strip(' .!?') }}, {{ img_obj.permission.strip(' .!?') }}.</p>
    </div><!-- End of well -->


</div><!-- end of main container -->

<div class="modal fade" id="help-modal" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title">Quick help</h4>
      </div>
      <div class="modal-body">
        <p>Click on the image to add new points.{% if img_obj.pickstyle != "points" %} On this image, the uploader is asking you to pick {{ img_obj.pickstyle }}, so the points will join to form a {{ img_obj.pickstyle[:-1] }}.{% endif %}</p>
        <p>To <strong>move</strong> a point, hover over the point and click.{% if img_obj.pickstyle != "points" %} To <strong>insert</strong> a point, hover over the line and click.{% endif %} Use the <strong>Remove</strong> buttons if you need them.</p>
        <p>When you are satisfied with your interpretation, hit <strong>Submit</strong>. Then you will get to see everyone else's interpretations.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

{% endblock %}
