{% extends "base.html" %}

{% block content %}

<script src="/static/js/raphael-min.js"></script>
<script src="/static/js/underscore-min.js"></script>
<script src="/static/js/pick-drawing.js"></script>
<script src="/static/js/pickpoint.js"></script>


  <div class="container">

 <div class="row">
<div class="col-md-8">

    <p class="lead">Click points on the image and create your pick. <strong>Submit</strong> when you're done.</p>
</div>
<div class="col-md-4">
      <button id="undo-button" type="button" class="btn btn-primary">
        Undo
      </button>
      <button id="clear-button" type="button" class="btn btn-primary">
        Clear
      </button>
</div>
</div>
</div>

    <div class="container">
      <div id="seismic-div" width=1080 height=720>
      </div>
    </div>

<div class="col-md-offset-2 col-md-8" style="margin-bottom:44px;">
    <button type="button" class="btn btn-success btn-lg btn-block" onclick="document.location.href='/results'">I'm all done... Submit!</button>
    </div>
    
  </div>
{% endblock %}
