{% extends "base.html" %}

{% block title %}{% endblock %}

{% block content %}

<head>
<script>
  var image_url = "{{image_url}}";
  var image_key = "{{image_key}}";
  var baseImageWidth = "{{image_width}}";
  var baseImageHeight = "{{image_height}}";
</script>
<script src="/static/js/raphael-min.js"></script>
<script src="/static/js/underscore-min.js"></script>
<script src="/static/js/pick-drawing.js"></script>
<script src="/static/js/pickpoint.js"></script>
</head>

<div class="container"><!-- start of main container -->

  <div class="row" style="margin-top:16px; margin-bottom:24px;">
    <div class="col-md-8 col-sm-6 col-xs-6">
    <p class="lead">{% if challenge %}{{ challenge.strip(' .!') }}. {% endif %}Click <strong>Submit</strong> when you're done.
    </div>
    <div class="col-md-4 col-sm-6 col-xs-6">
      <div class="btn-toolbar pull-right">
        <button id="undo-button" type="button" 
		class="btn btn-primary">
          Undo
        </button>
        <button id="clear-button" type="button" 
		class="btn btn-primary">
          Clear
        </button>
      </div>
    </div>
  </div><!-- end of row -->

  <div id="seismic-div">
    <!-- image goes here -->
  </div>
  <p class="pull-right" style="font-size:80%">Permission: {{ permission }}</p>

  <!-- div for big green button at bottom -->
  <div class="col-md-offset-2 col-md-8" style="margin-bottom:24px; margin-top:24px;">
    <button type="button" class="btn btn-success btn-lg btn-block" 
	    onclick="document.location.href='/results?image_key={{image_key}}'">
      I'm all done... Submit!
    </button>
  </div>
    
</div><!-- end of main container -->

{% endblock %}
