{% extends "base.html" %}

{% block title %} &middot; terms{% endblock %}
{% block content %}

<div class="container">

  <div class="alert alert-warning">
      <strong>Warning!</strong> This web app is in early development. There are bugs. Everything will change. Thank you for exploring!
  </div>
        
<h3>About our terms of service</h3>
<p>Welcome to <span class='pt'>pick this</span>, a tool for social image interpretation.</p>

<p>We have tried to write these terms to be readable by people like us. Unfortunately, the realities of the legal world make this very difficult. Should you have any questions or concerns or would simply like to better understand how we do things, please do not hesitate to contact us.</p>

<p>Below is a quick description of the sections in this Agreement, but (legal disclaimer coming) you should read each section to understand all the detailed terms of the agreement. Some sections are, by legal tradition, printed in UPPERCASE. You should probably read those bits carefully.</p>

<span class='pt'>pick this</span> was built by Ben Bougher, Jacob Foshee, Evan Bianco, and a combination of Matt Hall and Chris Chalcraft at the <a href="http://subsurfwiki.org/wiki/Geophysics_Hackathon_2014">2014 Geophysics Hackathon</a> in Denver, Colorado. Matt, Evan, and Ben work for Agile Geoscience Ltd, and the company accepts responsiblity for the maintenance and functionality web app, with certain limitations as outlined in this document.</p>

<h3>What <span class='pt'>pick this</span> is</h3>
<p>We provide you with software and a service to upload and interpret images of the earth, the human body, celestial objects, or any other scientific images.</p>

<h3>Getting an account</h3>
<p>You log in with your social identity, which belongs to a web service we do not control. We do not store your name or email. We have the right to prevent you from signing in, if you violate the terms of this agreement.</p>

<h3>Termination</h3>
<p>We can terminate this agreement at any time, especially if you do something bad. You can also terminate any time, by not logging in again.</p>

<h3>Updates to the terms</h3>
<p>Amendments to this agreement can be made and effected by us from time to time without specific notice to your end. The agreement posted on this site reflects the latest agreement.</p>

<h3>Intellectual property</h3>
<p>All services and their underlying intellectual property rights are made available to you are owned by us or their licensors. Except for the limited rights granted to you herein, we reserve all rights, title and interest in and to the Services.

<p>You own your data. You retain ownership of your user-provided content, data and information. You grant us a worldwide, royalty free, sub-licensable, perpetual license to (i) use any content, data and information you provide in connection with the Services for purposes of providing the Services; and (ii) to use or incorporate into the Services any suggestions, enhancement requests, recommendations or other feedback provided by you and users. Holders of free accounts grant us the right to make public everything they do. Holders of paid accounts have the right to keep everything they do private.

<p>Corporate subscribers agree that Agile Geoscience may use their company's logo to publicize them as a customer of modelr until the subscription terminates.</p>

<h3>Confidentiality</h3>
<p>Any information not generally known to the public that is disclosed by one Party (the "Disclosing Party") to the other Party (the "Receiving Party") in connection with this Agreement and that has been identified as proprietary and/or confidential shall be kept in strict confidence by the Receiving Party and may only be used or disclosed with permission of the Disclosing Party. This Section will not apply to any information which is in the public domain (otherwise than through breach of this Agreement); is known by the Receiving Party prior to its disclosure by the Disclosing Party or is independently developed by the Receiving Party without breach of the obligations contained in this Agreement; or has been received by the Receiving Party from a third party who is not subject to obligations similar to the obligations contained in this Agreement.</p>

<h3>Indemnities</h3>
<p>You agree to indemnify us from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to reasonable legal fees) arising from: (i) your violation of any of the terms of this Agreement; and/or (ii) your violation of any third party right, including without limitation any copyright, property, or privacy right.</p>

<h3>LIMITATION OF LIABILITY & DISCLAIMER OF WARRANTIES</h3>
<p>THE SERVICE IS BEING LICENSED TO YOU "AS IS" DURING THE BETA PERIOD, WITH ALL FAULTS. WITHOUT LIMITING THE GENERALITY OF THE PREVIOUS SENTENCE, AGILE GEOSCIENCE SPECIFICALLY DISCLAIMS ALL REPRESENTATIONS, CONDITIONS AND WARRANTIES, EXPRESS, STATUTORY, AND IMPLIED, INCLUDING, BUT NOT LIMITED TO, THE IMPLIED WARRANTIES OF ACCURACY, TITLE, QUIET ENJOYMENT, NON-INFRINGEMENT, MERCHANTABILITY AND FITNESS FOR A PARTICULAR PURPOSE.</p>

<p>Some jurisdictions do not allow the disclaimer of implied warranties. In such jurisdictions, the foregoing disclaimers may not apply to you insofar as they relate to implied warranties.</p>

<p>IN NO EVENT SHALL GOINSTANT BE LIABLE FOR ANY LOSS OF PROFIT OR REVENUE OR FOR ANY OTHER CONSEQUENTIAL, INCIDENTAL, INDIRECT OR ECONOMIC DAMAGES INCURRED OR SUFFERED ARISING AS A RESULT OF OR RELATED TO THIS AGREEMENT, WHETHER ARISING IN CONTRACT, TORT (INCLUDING NEGLIGENCE), OR OTHERWISE, EVEN IF AGILE GEOSCIENCE HAS BEEN ADVISED OF THE POSSIBILITY OF SUCH LOSS OR DAMAGES. THE PARTIES FURTHER AGREE THAT THE TOTAL LIABILITY OF EITHER PARTY FOR ALL CLAIMS OF ANY KIND ARISING AS A RESULT OF OR RELATED TO THIS AGREEMENT, OR TO ANY ACT OR OMISSION OF THE OTHER PARTY, WHETHER IN CONTRACT, TORT (INCLUDING NEGLIGENCE) OR OTHERWISE, SHALL NOT EXCEED AN AMOUNT EQUAL TO THE AMOUNT ACTUALLY PAID BY YOU TO US PURSUANT TO THIS AGREEMENT AND WHERE YOU HAVE PAID NOTHING FOR THE SERVICES HEREUNDER, TO A MAXIMUM OF $500.</p>

<p>THE DISCLAIMER OF REPRESENTATIONS, WARRANTIES AND CONDITIONS AND LIMITATION OF LIABILITY CONSTITUTE AN ESSENTIAL PART OF THIS AGREEMENT. YOU ACKNOWLEDGE THAT BUT FOR THE DISCLAIMER OF REPRESENTATIONS, WARRANTIES AND CONDITIONS AND LIMITATION OF LIABILITY, AGILE GEOSCIENCE WOULD NOT GRANT THE RIGHTS GRANTED IN THIS AGREEMENT. YOUR ONLY RIGHT OR REMEDY WITH RESPECT TO ANY PROBLEMS OR DISSATISFACTION WITH THE SERVICES IS TO IMMEDIATELY CEASE USE OF SUCH SERVICES.</p>

<p>In some jurisdictions, limitations of liability (or certain heads of liability) are not permitted. In such jurisdictions, the foregoing limitations may not apply to you.</p>

<h3>Privacy statement</h3>
<p>Your privacy is important to Agile Geoscience Ltd (Agile). This privacy statement provides information about the personal information that Agile collects, and the ways in which it uses that personal information.

<h4>Personal information collection</h4>
<p>Agile may collect and use the following kinds of personal information: </p>

<ul>
<li>information about your use of this website (including the details of the models you submit);</li>
<li>information that you provide using for the purpose of registering with the website (including your name and email address);</li>
<li>information about transactions carried out over this website; </li>
<li>information that you provide for the purpose of subscribing to the website services;</li>
<li>any other information that you send to Agile.</li>
</ul>

<h4>Using personal information</h4>
<p>Agile may use your personal information to: </p>

<ul>
<li>administer this website;</li>
<li>personalize the website for you;</li>
<li>enable your access to and use of the website services;</li>
<li>publish information about you on the website;</li>
<li>send to you content that you generate;</li>
<li>collect payments from you; </li>
<li>send to you statements and invoices; and</li>
<li>send you marketing communications.</li>
</ul>

<p>Where Agile discloses your personal information to its agents or sub-contractors for these purposes, the agent or sub-contractor in question will be obligated to use that personal information in accordance with the terms of this privacy statement. </p>

<p>In addition to the disclosures reasonably necessary for the purposes identified elsewhere above, Agile may disclose your personal information to the extent that it is required to do so by law, in connection with any legal proceedings or prospective legal proceedings, and in order to establish, exercise or defend its legal rights.</p>

<h4>Securing your data</h4>
<p>Agile will take reasonable technical and organizational precautions to prevent the loss, misuse, or alteration of your personal information. </p>

<p>Agile will store all the personal information you provide on secure servers hosted by its service providers, which include Google.com and Stripe.com.</p>

<p>Information relating to electronic transactions entered into via this website will be  protected by encryption technology.</p>

<h4>Cross-border data transfers</h4>
<p>Information that Agile collects may be stored and processed in and transferred between any of the countries in which Agile and its service providers operate to enable the use of the information in accordance with this privacy policy.</p>

<p>You agree to such cross-border transfers of personal information.</p>

<h4>Updating this statement</h4>
<p>Agile may in its sole discretion update this privacy policy by posting a new version on this website.  </p>

<p>You should check this page occasionally to ensure you are familiar with any changes.  </p>

<h4>Other websites</h4>
<p>This website contains links to other websites.  </p>

<p>Agile is not responsible for the privacy policies or practices of any third party.</p>

<h4>Contact Agile</h4>
<p>If you have any questions about this privacy policy or Agile’s treatment of your personal information, please write:</p>

<ul>
<li>by email to hello@pickthis.io or </li>
<li>by post to Agile Geoscience, PO Box 336, B0J 2E0, Canada.</li>
</ul>

<h4>Credit</h4>

<p>This privacy statement was created using a Contractology template available at <a href="http://www.freenetlaw.com">freenetlaw.com</a>, and used under a Creative Commons CC-BY license.</p>

</div>

{% endblock %}

